 input[type='radio'].radio {opacity:0; display:inline-block; height:20px; }
        label.radio {background:url(images/assess-xing.png) no-repeat; height:20px; padding-left:25px;}
        input[type='radio'].radio:checked + .radio {background:url(images/assess-xing-click.png) no-repeat;}